node_modules
.svelte-kit
build
.git
.env*
*.log
coverage
.nyc_output
dist
.DS_Store
.vscode
.idea
Dockerfile*
docker-compose*
README.md
*.md
.github
.gitignore
*.test.*
*.spec.*
e2e
playwright-report
test-results